<div class="not-found-page">

  <img
    src="https://bsn-remont.ru/wp-content/uploads/2019/10/404_43.gif"
    alt="page not found"
  />

  <a class="waves-effect waves-light btn blue" onclick="goBack()"><i
      class="material-icons left"
    >arrow_back</i>button</a>

</div>

<script>
  function goBack() { window.history.back(); }
</script>