<div class="auth-page">
  <div class="left-box">
  </div>
  <div class="right-box">
    <form>
      <div class="input-field">
        <input
          id="username"
          type="text"
          required
          name="username"
          class="validate"
        />
        <label for="username">Username</label>
        <span class="helper-text" data-error="wrong" data-success="right">Please
          enter username</span>
      </div>
      <div class="input-field">
        <input
          id="password"
          type="password"
          required
          name="password"
          class="validate"
        />
        <label for="password">Password</label>
        <span class="helper-text" data-error="wrong" data-success="right">Please
          enter password</span>
      </div>

      <a href="/auth/login"> Login </a>

      <div class="input-field">
        <button
          class="btn blue waves-effect waves-light"
          type="submit"
          id="createUserSubmitBtn"
        >Registratino
          <i class="material-icons right">person_add</i>
        </button>
      </div>
    </form>
  </div>
</div>